Flight

In [3]:
CREATE database Flight;

: Msg 1801, Level 16, State 3, Line 1
Database 'Flight' already exists. Choose a different database name.

In [5]:
use Flight;

In [6]:
CREATE TABLE Airport(
    airportID VARCHAR(3),
    airportName VARCHAR(255) not null,
    city VARCHAR(255) not null,
    country VARCHAR(255) not null,
    PRIMARY KEY (airportID)
)

In [7]:
CREATE TABLE Passenger(
    passportNum VARCHAR(8),
    firstName VARCHAR(50) not null,
    middleName VARCHAR(50),
    lastName VARCHAR(100) not null,
    gender VARCHAR(100) not null CHECK (gender in ('Male', 'Female')),
    nationality VARCHAR(50) not null,
    birthday DATE not null,
    PRIMARY KEY(passportNum)
)

In [8]:
CREATE TABLE Airline(
    airlineID VARCHAR(8),
    airlineName	VARCHAR(100) not null,
    IATA VARCHAR(10) not null,
    PRIMARY KEY (airlineID)
)

In [9]:
CREATE TABLE Airplane(
    planeID	VARCHAR(16),
    registration VARCHAR(10) not null,
    type VARCHAR(20) not null,
    airlineID VARCHAR(8) not null, 
    seat_capacity INT not null check (seat_capacity>0),
    PRIMARY KEY (planeID),
    FOREIGN KEY (airlineID) REFERENCES Airline
)

In [10]:
CREATE TABLE Flight (
    flight_number VARCHAR(10),
    airlineID VARCHAR(8) not null,
    departure_airport VARCHAR(3) not null,
    destination_airport VARCHAR(3) not null,
    departure_time Time(0) not null,
    arrive_time Time(0) not null,
    duration FLOAT not null,
    PRIMARY KEY (flight_number),
    FOREIGN KEY (airlineID) REFERENCES Airline,
    FOREIGN KEY (departure_airport) REFERENCES Airport,
    FOREIGN KEY (destination_airport) REFERENCES Airport,
)

In [11]:
CREATE TABLE FlightPlan(
    PlanID VARCHAR(16),
    FlightNumber VARCHAR(10) not null,
    planeID VARCHAR(16) not null,
    flight_date DATE not null,
    PRIMARY KEY (PlanID),
    FOREIGN KEY (planeID) REFERENCES Airplane,
    FOREIGN KEY (FlightNumber) REFERENCES Flight
)

In [12]:
CREATE TABLE Reserve(
    reserveID VARCHAR(16),
    passengerID VARCHAR(8) not null,
    flightPlanID VARCHAR(16) not null,
    seat VARCHAR(3) not null,
    PRIMARY KEY(reserveID),
    FOREIGN KEY (passengerID) REFERENCES Passenger,
    FOREIGN KEY (flightPlanID) REFERENCES FlightPlan
)

In [13]:
CREATE TABLE Employee(
    emp_ID VARCHAR(10),
    AirlineID VARCHAR(8) not null,
    Passport_number VARCHAR(8) not null,
    FirstName VARCHAR(50) not null,
    MiddleName VARCHAR(50),
    LastName VARCHAR(50) not null,
    nationality VARCHAR(50) not null,
    gender VARCHAR(30) not null CHECK (gender in ('Male', 'Female')),
    birthday DATE not null,
    role VARCHAR(30) not null,
    PRIMARY KEY (emp_ID),
    FOREIGN KEY (AirlineID) REFERENCES Airline
)

In [14]:
CREATE TABLE Salary (
    role VARCHAR(20),
    salary int not null CHECK (salary > 0),
    PRIMARY KEY (role)
)

In [15]:
CREATE TABLE FlightEmployee (
    flightCrewID VARCHAR(16),
    flightPlanID VARCHAR(16) not null,
    emp_ID VARCHAR(10) not null,
    PRIMARY KEY (flightCrewID),
    FOREIGN KEY (flightPlanID) REFERENCES FlightPlan,
    FOREIGN Key (emp_ID) REFERENCES Employee
)

Insert Data

In [17]:
-- Airline
INSERT dbo.Airline(airlineID,airlineName,IATA)
VALUES ('1', 'Thai Airways', 'THA'),
('2', 'Thai Smile', 'WE'),
('3', 'Bangkok Airways', 'PG'),
('4', 'AirAsia', 'AK'),
('5', 'British Airways', 'BA'),
('6', 'Mandarin Airlines', 'AE'),
('7', 'Japan Airline', 'JL'),
('8', 'Air India', 'AI'),
('9', 'All Nippon Airways', 'ANA'),
('10', 'Alliance Airlines', 'QQ')

In [18]:
-- Airplane
INSERT dbo.Airplane(planeID,registration,type,airlineID,seat_capacity)
VALUES ('1', 'HS-TAA', 'A300-600', '1', '240'),
('2', 'HS-TXU', 'A320-232', '2', '120'),
('3', 'HS-TAB', 'A300-600', '1', '230'),
('4', 'HS-TEJ', 'A330-343', '1', '280'),
('5', 'HS-TDK', 'B-737-4D7', '2', '150'),
('6', 'HS-TUS', 'A380-841', '1', '520'),
('7', 'HS-TIG', 'A321-231', '2', '170'),
('8', 'HS-TEZ', 'A330-343', '1', '280'),
('9', 'HS-TJD', 'B777-236(ER)', '1', '350'),
('10', 'HS-TJM', 'B777-328(ER)', '1', '360'),
('11', 'HS-TAX', 'A300-600', '1', '240'),
('12', 'HS-TXB', 'A320-232', '2', '120'),
('13', 'HS-TER', 'A330-343', '1', '280'),
('14', 'HS-TXM', 'A320-232', '2', '120'),
('15', 'HS-TJF', 'B777-328(ER)', '1', '360'),
('16', 'HS-TEO', 'A330-343', '1', '280'),
('17', 'HS-TXY', 'A320-232', '2', '120'),
('18', 'HS-TXN', 'A320-232', '2', '120'),
('19', 'HS-TDC', 'B-737-4D7', '2', '150'),
('20', 'HS-TDK', 'B-737-4D7', '2', '150')

In [19]:
-- Airport
INSERT dbo.Airport(airportID,airportName,city,country)
VALUES ('BKK', 'Suvarnabhumi Airport', 'Samut Prakan', 'Thailand'),
('NRT', 'Narita Airport', 'Chiba', 'Japan'),
('LHR', 'Heathrow Airport', 'London', 'United Kingdom'),
('CTS', 'New Chitose Airport', 'Chitose', 'Japan'),
('FUK', 'Fukuoka Airport', 'Fukuoka ', 'Japan'),
('DEL', 'Indira Gandhi Airport', 'Delhi', 'India'),
('SYD', 'Sydney Airport', 'Sydney', 'Australia'),
('CNX', 'Chiang Mai Airport', 'Chiang Mai', 'Thailand'),
('KBV', 'Krabi Airport', 'Krabi', 'Thailand'),
('HKT', 'Phuket Airport', 'Phuket ', 'Thailand'),
('NAW', 'Narathiwat Aiport', 'Narathiwat', 'Thailand'),
('USM', 'Samui Airport', 'Samui', 'Thailand'),
('HDY', 'Hat Yai Airport', 'Songkhla', 'Thailand'),
('CEI', 'Chiang Rai Airport', 'Chiang Rai', 'Thailand'),
('KHH', 'Kaohsiung Airport', 'Kaohsiung', 'Taiwan')

In [29]:
-- Passenger
INSERT dbo.Passenger(passportNum,firstName,middleName,lastName,gender,nationality,birthday)
VALUES ('AB637764', 'Matsuda', '', 'Kohaku', 'Female', 'Japanese', '1958-05-30')
('AA154078', 'Kenta', '', 'Yamamoto', 'Male', 'Japanese', '1962-10-20'),
('AE788418', 'Theepob ', '', 'Intarama', 'Male', 'Thai', '1963-01-26'),
('AB296654', 'Nattapong', '', 'Ratchasima', 'Male', 'Thai', '1963-05-29'),
('AC741785', 'Fu', '', 'Enlai', 'Female', 'Chinese', '1964-04-29'),
('AC435399', 'Nareerat', '', 'Intarama', 'Female', 'Thai', '1965-03-30'),
('AB956895', 'Malika', '', 'Kwankaew', 'Female', 'Thai', '1965-07-15'),
('AE257729', 'Wanvisa', '', 'Sae-Jiw', 'Female', 'Thai', '1965-11-04'),
('AC751158', 'Nathawan', '', 'Saengsawang', 'Female', 'Thai', '1965-12-13'),
('AE874574', 'Arthit', '', 'Saengsawang', 'Male', 'Thai', '1965-12-16'),
('AC925282', 'Charnchai', '', 'Praphasorn', 'Male', 'Thai', '1966-04-27'),
('AC424828', 'Panita', '', 'Sricharoen', 'Female', 'Thai', '1966-05-29'),
('AB720436', 'Darunee', '', 'Laophairoj', 'Female', 'Thai', '1966-05-30'),
('AA195657', 'Patcharee', '', 'Kaewmanee', 'Female', 'Thai', '1966-06-13'),
('AE330377', 'Siriporn', '', 'Phetkaew', 'Female', 'Thai', '1967-03-24'),
('AC546170', 'Supawadee', '', 'Phetkaew', 'Male', 'Thai', '1967-11-21'),
('AA080731', 'Nicolette', '', 'Gagneux', 'Male', 'French', '1968-02-27'),
('AB127018', 'Sutida', '', 'Sittichai', 'Female', 'Thai', '1968-05-27'),
('AC406018', 'Noppadol', '', 'Kaewkam', 'Male', 'Thai', '1969-06-29'),
('AB787077', 'Janwipa', '', 'Sukseree', 'Female', 'Thai', '1969-11-27'),
('AE261260', 'Thawatchai', '', 'Saithong', 'Male', 'Thai', '1970-02-03'),
('AC556926', 'Wichai', '', 'Saengsawang', 'Male', 'Thai', '1970-03-02'),
('AB572698', 'Thanyarat', '', 'Jiraprapakul', 'Male', 'Thai', '1970-04-02'),
('AA718487', 'Charan', '', 'Sookngam', 'Male', 'Thai', '1971-06-12'),
('AA021167', 'Kang ', 'Ming', 'Ting', 'Female', 'Chinese', '1973-01-03'),
('AB865570', 'Suwitcha', '', 'Sripetch', 'Female', 'Thai', '1973-08-08'),
('AE920956', 'Nattawut', '', 'Sukkasem', 'Male', 'Thai', '1974-03-25'),
('AB877664', 'Jenjira', '', 'Laoarun', 'Female', 'Thai', '1974-04-02'),
('AC602002', 'Sirisak', '', 'Nantapoj', 'Male', 'Thai', '1975-02-14'),
('AB535356', 'Taweesak', '', 'Yamsiri', 'Male', 'Thai', '1975-10-03'),
('AA578307', 'Peerada', '', 'Sawadiwong', 'Female', 'Thai', '1975-10-11'),
('AA542087', 'Pimchan', '', 'Vitaya', 'Female', 'Thai', '1976-01-17'),
('AB953506', 'Yosapon', '', 'Sribuarod', 'Male', 'Thai', '1976-10-07'),
('AA215441', 'Namfon', '', 'Srimalai', 'Female', 'Thai', '1977-11-13'),
('AC864891', 'Jutaporn', '', 'Phuangphet', 'Female', 'Thai', '1978-07-18'),
('AE249876', 'Prasong', '', 'Srikam', 'Male', 'Thai', '1978-12-13'),
('AB617378', 'Kamonwan', '', 'Wattanapongsiri', 'Female', 'Thai', '1979-09-06'),
('AC382369 ', 'Masato', '', 'Tatsuya', 'Male', 'Japanese', '1980-02-01'),
('AA316020 ', 'Panyata', '', 'Posamran', 'Female', 'Thai', '1981-04-03'),
('AE449679', 'Kritsada', '', 'Sawangjaeung', 'Female', 'Thai', '1983-01-10'),
('AA876070', 'Waraporn', '', 'Pratumwan', 'Female', 'Thai', '1984-02-16'),
('AE974392', 'Mizuki', '', 'Suzuki', 'Female', 'Japanese', '1984-08-08'),
('AC391570', 'Tao', '', 'Cherling', 'Male', 'Chinese', '1984-10-01'),
('AC716434', 'Sathit', '', 'Boonserm', 'Male', 'Thai', '1984-10-11'),
('AE718522', 'Boonsong', '', 'Sawangjaeung', 'Male', 'Thai', '1985-01-13'),
('AC491080', 'Nirana', '', 'Kittipattra', 'Female', 'Thai', '1985-02-17'),
('AA158611', 'Jedpat', '', 'Kittitechakun', 'Male', 'Thai', '1985-03-18'),
('AB377347', 'Napat', '', 'Chamnarn', 'Male', 'Thai', '1985-11-11'),
('AB165843', 'Nopparat', '', 'Chuangchot', 'Female', 'Thai', '1985-11-11'),
('AA660458', 'Pitchayapa', '', 'Sricharoen', 'Female', 'Thai', '1985-11-16'),
('AC523040', 'Kanokporn', '', 'Sinthawanit', 'Female', 'Thai', '1985-11-29'),
('AE620401', 'Li', '', 'Guao', 'Male', 'Chinese', '1986-01-07'),
('AC676910', 'Fang', '', 'Wang', 'Male', 'Chinese', '1986-04-03'),
('AC798473', 'Pongsathorn', '', 'Siriwanich', 'Male', 'Thai', '1986-05-28'),
('AC437817', 'Narongchai', '', 'Boonserm', 'Male', 'Thai', '1986-07-07'),
('AA897983', 'Pat', '', 'Weerapakmethee', 'Female', 'Thai', '1986-12-14'),
('AE409178', 'Chutikarn', '', 'Kittitechakun', 'Female', 'Thai', '1987-05-04'),
('AC835617', 'Atchara', '', 'Somporn', 'Female', 'Thai', '1987-07-02'),
('AC636621', 'Thanawat', '', 'Sirisorn', 'Male', 'Thai', '1987-11-06'),
('AB146105', 'Weerapol', '', 'Weerapol', 'Male', 'Thai', '1988-01-24'),
('AE994756', 'Siriluk', '', 'Phumisat', 'Female', 'Thai', '1988-03-13'),
('AB406155', 'Thomas', 'Jackson', 'Edy', 'Male', 'British', '1988-06-19'),
('AA394721', 'Grace', '', 'Carter', 'Female', 'British', '1988-07-29'),
('AB938345', 'Pathompong', '', 'Pongprayoon', 'Male', 'Thai', '1989-02-08'),
('AE722018', 'Emi', '', 'Inoue', 'Female', 'Japanese', '1989-06-14'),
('AB308846', 'Chutima', '', 'Phetpradap', 'Female', 'Thai', '1989-08-01'),
('AE781451', 'Banyong', '', 'Nualjan', 'Male', 'Thai', '1989-09-16'),
('AC951873', 'Mika', '', 'Kaito', 'Female', 'Japanese', '1989-11-04'),
('AB405563', 'Kanokwan', '', 'Thammasarn', 'Female', 'Thai', '1990-04-11'),
('AE797225', 'Ming', '', 'Guao', 'Female', 'Chinese', '1990-09-20'),
('AC962702', 'Haruka', '', 'Nakamura', 'Female', 'Japanese', '1991-02-06'),
('AC674123', 'Surasak', '', 'Bunyaratavej', 'Male', 'Thai', '1991-08-23'),
('AC448474', 'Henry', 'Foster', 'Parkinson', 'Male', 'British', '1991-09-01'),
('AA206073', 'Kaito', '', 'Fujimoto', 'Male', 'Japanese', '1992-05-17'),
('AB637864', 'Reinald', '', 'Marie', 'Female', 'British', '1992-07-11'),
('AA948285', 'Yuto', '', 'Tanaka', 'Female', 'Japanese', '1992-12-12'),
('AE465063', 'Wannipa', '', 'Samart', 'Female', 'Thai', '1993-04-16'),
('AE422750', 'Mai', '', 'Yoshida', 'Female', 'Japanese', '1993-05-22'),
('AB337869', 'Xue', '', 'Hu', 'Female', 'Chinese', '1993-07-18'),
('AA921735', 'Nareerat', '', 'Pakdee', 'Female', 'Thai', '1993-09-15'),
('AC928365', 'Tawan', '', 'Khunpleum', 'Female', 'Thai', '1993-10-06'),
('AC794138', 'Jian', '', 'Yang', 'Male', 'Chinese', '1994-02-22'),
('AE280453', 'Nat', '', 'Sukprasert', 'Female', 'Thai', '1994-06-07'),
('AE942281', 'Pattama', '', 'Aksornthong', 'Female', 'Thai', '1994-10-23'),
('AB346890', 'Akiko', '', 'Yamamoto', 'Female', 'Japanese', '1994-12-18'),
('AA600661', 'Olivia', 'Wright', 'Anderson', 'Female', 'British', '1995-04-27'),
('AB685371', 'Supaporn', '', 'Thongmak', 'Female', 'Thai', '1995-10-05'),
('AA776819', 'Somsak', '', 'Chaiyong', 'Male', 'Thai', '1996-02-13'),
('AB621796', 'Sophie', '', 'Balley', 'Female', 'British', '1996-03-16'),
('AB194161', 'Nattawadee', '', 'Janwarasakul', 'Female', 'Thai', '1996-06-23'),
('AE772366', 'Emily', '', 'Blanchard', 'Female', 'British', '1996-08-25'),
('AA647240', 'Jing', '', 'Zhang', 'Male', 'Chinese', '1997-01-31'),
('AE547244', 'Edward', 'Wood', 'Bail', 'Male', 'British', '1997-02-12'),
('AC541659 ', 'Sethee', '', 'Wongwarittara', 'Male', 'Thai', '1997-07-18'),
('AA578737', 'Somnuk', '', 'Khampasen', 'Male', 'Thai', '1997-11-01'),
('AB992262', 'Qiu', '', 'Zhou', 'Male', 'Chinese', '1997-11-26'),
('AC019323', 'Wei', '', 'Chen', 'Male', 'Chinese', '1998-02-15'),
('AC778368', 'Prasert', '', 'Boonserm', 'Male', 'Thai', '1998-03-15'),
('AA646453', 'Pongkiat', '', 'Patanakosol', 'Male', 'Thai', '1998-08-10'),
('AC576678', 'Worapoj', '', 'Ratanapongsakul', 'Male', 'Thai', '1998-10-17'),
('AA964205', 'Thanachai', '', 'Sasomsub', 'Male', 'Thai', '1998-11-03'),
('AC623008', 'Jun', '', 'Lui', 'Male', 'Chinese', '1998-12-09'),
('AE142503', 'Pairoj', '', 'Aksornthong', 'Male', 'Thai', '1998-12-29'),
('AB870546', 'Shenug', '', 'Guao', 'Male', 'Chinese', '1999-04-19'),
('AC733780', 'Yuo', '', 'Yamamoto', 'Female', 'Japanese', '1999-06-03'),
('AC417698', 'Takumi', '', 'Shimizu', 'Male', 'Japanese', '1999-08-05'),
('AC379484', 'Saiki', '', 'Satoshi', 'Male', 'Japanese', '1999-08-24'),
('AE942746', 'Sarawut', '', 'Udomsuk', 'Male', 'Thai', '2000-03-28'),
('AE676046', 'Sakda', '', 'Saengdee', 'Female', 'Thai', '2000-07-16'),
('AE669868', 'Prapaporn', '', 'Suksawat', 'Female', 'Thai', '2000-11-11'),
('AA540039', 'Nattapol', '', 'Bunnak', 'Male', 'Thai', '2000-11-18'),
('AC750567', 'Anna', 'Jen', 'Blanchard', 'Male', 'British', '2000-12-20'),
('AB129765', 'Nattapong', '', 'Siwabut', 'Male', 'Thai', '2001-09-11'),
('AC566163', 'Supitcha', '', 'Wongkham', 'Female', 'Thai', '2001-11-27'),
('AA066378', 'Zhong', '', 'Xiaoli', 'Male', 'Chinese', '2002-09-21'),
('AA415357', 'Sumalee', '', 'Hiranprueck', 'Female', 'Thai', '2002-11-19'),
('AE711684', 'Kamonchanok', '', 'Boonserm', 'Female', 'Thai', '2003-11-21'),
('AB768454', 'Thongchai', '', 'Sukkho', 'Male', 'Thai', '2004-02-09'),
('AB470464', 'Thawan', '', 'Kittitechakun', 'Male', 'Thai', '2010-09-12'),
('AC652521', 'Napha', '', 'Kittitechakun', 'Female', 'Thai', '2015-03-15')

In [33]:
-- Flight
INSERT dbo.Flight(flight_number,airlineID,departure_airport,destination_airport,departure_time,arrive_time,duration)
VALUES ('TG111','1','BKK','CTS','4:00', '11:00', 7.0),
('TG112','1','CTS','BKK','11:30', '19:00', 7.3),
('TG133','1','BKK','USM','13:40', '15:00', 1.2),
('TG134','1','USM','BKK','15:30', '17:00', 1.3),
('TG276','1','BKK','NRT','3:00', '9:00', 6.0),
('TG277','1','NRT','BKK','10:20', '16:15', 5.55),
('TG491','1','BKK','FUK','2:00', '8:10', 6.1),
('TG492','1','FUK','BKK','9:00', '15:00', 6.0),
('TG897','1','BKK','CNX','15:30', '17:05', 1.35),
('TG898','1','CNX','BKK','18:00', '19:30', 1.3),
('WE555','2','BKK','HDY','12:30', '14:00', 1.3),
('WE556','2','HDY','BKK','15:00', '16:10', 1.1),
('WE665','2','BKK','HKT','11:00', '12:35', 1.35),
('WE666','2','HKT','BKK','13:40', '15:10', 1.3),
('WE667','2','BKK','HKT','16:30', '18:00', 1.3),
('WE668','2','HKT','BKK','19:00', '20:20', 1.2),
('WE987','2','BKK','CNX','10:55', '12:20', 1.25),
('WE988','2','CNX','BKK','13:35', '14:55', 1.2)

In [35]:
-- FlightPlan
INSERT dbo.FlightPlan(PlanID,FlightNumber,planeID,flight_date)
VALUES ('1','TG111','6','2023-03-24'),
('2','TG112','6','2023-03-24'),
('3','TG133','9','2023-03-24'),
('4','TG134','9','2023-03-24'),
('5','TG491','4','2023-03-24'),
('6','TG492','4','2023-03-24'),
('7','TG897','3','2023-03-24'),
('8','TG898','3','2023-03-24'),
('9','TG276','11','2023-03-24'),
('10','TG277','11','2023-03-24'),
('11','WE665','19','2023-03-24'),
('12','WE666','19','2023-03-24'),
('13','WE987','5','2023-03-24'),
('14','WE988','5','2023-03-24'),
('15','WE555','12','2023-03-24'),
('16','WE556','12','2023-03-24'),
('17','TG111','6','2023-03-25'),
('18','TG112','6','2023-03-25'),
('19','TG133','9','2023-03-25'),
('20','TG134','9','2023-03-25'),
('21','WE665','19','2023-03-25'),
('22','WE666','19','2023-03-25'),
('23','WE667','19','2023-03-25'),
('24','WE668','19','2023-03-25')

In [36]:
-- Reserve
INSERT dbo.Reserve(reserveID,passengerID,flightPlanID,seat)
VALUES ('1','AA154078','1','4B'),
('2','AB346890','1','4C'),
('3','AC733780','1','4D'),
('4','AC546170','1','3C'),
('5','AB406155','3','1D'),
('6','AA394721','3','1B'),
('7','AC448474','3','1A'),
('8','AB637764','3','1C'),
('9','AA158611','3','2A'),
('10','AE409178','3','2B'),
('11','AB470464','3','2C'),
('12','AC652521','3','2D'),
('13','AC576678','14','1D'),
('14','AC962702','1','4A'),
('15','AE942746','1','7A'),
('16','AE676046','1','7B'),
('17','AE669868','1','7C'),
('18','AA540039','1','7D'),
('19','AE422750','1','3D'),
('20','AC636621','14','3C'),
('21','AC798473','14','3D'),
('22','AB165843','3','8B'),
('23','AA897983','3','8C'),
('24','AC835617','3','8A'),
('25','AC523040','3','8D'),
('26','AC951873','1','6A'),
('27','AE330377','1','2A'),
('28','AE449679','14','4B'),
('29','AE718522','14','4A'),
('30','AB129765','3','6B'),
('31','AC566163','3','6D'),
('32','AA415357','3','6C'),
('33','AA600661','14','5A'),
('34','AB621796','14','5B'),
('35','AE772366','14','5C'),
('36','AE547244','14','6A'),
('37','AC750567','14','6B'),
('38','AA206073','1','5A'),
('39','AE788418','3','4A'),
('40','AC435399','3','4B'),
('41','AA080731','3','7C'),
('42','AC928365','16','5D'),
('43','AE280453','16','5C'),
('44','AA921735','16','5B'),
('45','AE465063','16','5A'),
('46','AA776819','16','1D'),
('47','AC437817','1','1A'),
('48','AC716434','1','1B'),
('49','AC778368','1','1C'),
('50','AE711684','1','1D'),
('51','AA647240','16','2A'),
('52','AB992262','16','2B'),
('53','AE722018','1','8D'),
('54','AB194161','16','7D'),
('55','AC751158','16','7C'),
('56','AE874574','16','6A'),
('57','AC556926','16','3D'),
('58','AB637764','1','3B'),
('59','AC379484','16','3C'),
('60','AC417698','16','6C'),
('61','AB685371','16','4B')

In [37]:
-- Employee
INSERT dbo.Employee(emp_ID,AirlineID,Passport_number,FirstName,MiddleName,LastName,nationality,gender,birthday,role)
VALUES ('1', '1', 'AA311528', 'Rawisitira', '', 'Thungthongchai', 'Thai', 'Male', '1982-03-13', 'Captain'),
('2', '1', 'AA636903', 'Adithep', '', 'Punwarisaruk', 'Thai', 'Male', '1993-11-03', 'First Officer'),
('3', '2', 'AC095999', 'Navathita', '', 'Limapar', 'Thai', 'Female', '1994-07-12', 'First Officer'),
('4', '1', 'AA392084', 'Supaporn', '', 'Chaiyapruk', 'Thai', 'Female', '1996-12-25', 'Crew'),
('5', '1', 'AA142393', 'Tanakrit', '', 'Pongthananon', 'Thai', 'Male', '1991-04-06', 'Crew'),
('6', '1', 'AC421000', 'Siriluk', '', 'Thongbai', 'Thai', 'Female', '1987-10-24', 'Crew'),
('7', '1', 'AA332841', 'Natthawut', '', 'Sae-ong', 'Thai', 'Female', '1988-02-27', 'Crew'),
('8', '1', 'AC295025', 'Sutthiporn', '', 'Charoenpetch', 'Thai', 'Female', '1992-09-01', 'Crew'),
('9', '1', 'AC252044', 'Prapaiporn', '', 'Jiraprapakul', 'Thai', 'Female', '1986-03-31', 'Crew'),
('10', '1', 'AA962278', 'Kittipong', 'Kerati', 'Kongkawong', 'Thai', 'Male', '1981-10-10', 'Crew'),
('11', '2', 'AA128765', 'Panitara', '', 'Kerati', 'Thai', 'Male', '1983-08-10', 'Crew'),
('12', '1', 'AC096000', 'Nattapol', '', 'Poolsawas', 'Thai', 'Female', '1985-12-02', 'Crew'),
('13', '2', 'AA107298', 'JJ', '', 'Channatip', 'Thai', 'Male', '1981-05-23', 'First Officer'),
('14', '1', 'AA356989', 'Adithep ', '', 'Tarunthorn', 'Thai', 'Male', '1973-10-23', 'Captain'),
('15', '2', 'AC421001', 'Dan', '', 'Kereekol', 'Thai', 'Male', '1978-05-20', 'First Officer'),
('16', '1', 'AA332842', 'Wutthichai', 'Kan', 'Chanan', 'Thai', 'Male', '1983-08-11', 'First Officer'),
('17', '2', 'AC209063', 'Malee', '', 'Jampa', 'Thai', 'Female', '1995-12-01', 'Crew'),
('18', '1', 'AC166082', 'Santi', '', 'Pasawa', 'Thai', 'Male', '1987-03-09', 'Crew'),
('19', '2', 'AA161302', 'Satta', '', 'Kethea', 'Thai', 'Male', '1976-09-11', 'Captain'),
('20', '1', 'AA193840', 'Nakaree', '', 'Mesawad', 'Thai', 'Male', '1991-02-07', 'First Officer'),
('21', '2', 'AA312315', 'Ratasak', '', 'Jimtumbon', 'Thai', 'Male', '1970-11-30', 'Captain'),
('22', '2', 'AC123132', 'Amy', '', 'Tinsana', 'Thai', 'Female', '1970-11-30', 'Crew'),
('23', '2', 'AA912302', 'Sirinapa', '', 'Boonlert', 'Thai', 'Female', '1980-02-01', 'Crew'),
('24', '2', 'AA321392', 'Apiradee', '', 'Phetpradit', 'Thai', 'Female', '1980-03-20', 'Crew'),
('25', '2', 'AA331322', 'Kasem', '', 'Srisawat', 'Thai', 'Male', '1975-11-23', 'Crew'),
('26', '2', 'AC919233', 'Supattra', '', 'Intarapanich', 'Thai', 'Female', '1978-01-11', 'Crew'),
('27', '2', 'AC120390', 'Prasit', '', 'Jirakasem', 'Thai', 'Male', '1963-12-08', 'Crew'),
('28', '2', 'AB908678', 'Siriporn', '', 'Choomnoom', 'Thai', 'Female', '1973-09-09', 'Crew'),
('29', '1', 'AC123999', 'Boonlert', '', 'Kumsap', 'Thai', 'Male', '1970-11-10', 'Captain'),
('30', '1', 'AB999382', 'Piyapong', '', 'Srisuk', 'Thai', 'Male', '1981-02-01', 'Crew'),
('31', '1', 'AB387922', 'Nipaporn', '', 'Arunvong', 'Thai', 'Female', '1981-01-08', 'Crew'),
('32', '1', 'AB886732', 'Chalermpong', '', 'Pongpan', 'Thai', 'Male', '1975-06-03', 'First Officer'),
('33', '2', 'AC553622', 'Chawalit', '', 'Sombat', 'Thai', 'Male', '1992-11-11', 'First Officer'),
('34', '2', 'AA553821', 'Wannaporn', '', 'Thongma', 'Thai', 'Female', '1986-07-01', 'Crew'),
('35', '2', 'AB616162', 'Prayuth', '', 'Wongthep', 'Thai', 'Male', '1997-09-14', 'Crew'),
('36', '2', 'AB717182', 'Thipparat', '', 'Chaisit', 'Thai', 'Male', '1988-03-05', 'Captain'),
('37', '2', 'AC909203', 'Kittisak', '', 'Praphasuk', 'Thai', 'Male', '1991-05-28', 'Crew'),
('38', '2', 'AB786678', 'Nattawut', '', 'Chotisit', 'Thai', 'Female', '1993-01-08', 'Crew'),
('39', '1', 'AC123000', 'Jiraporn', '', 'Chaiyapruk', 'Thai', 'Female', '1990-02-26', 'Crew'),
('40', '1', 'AB900321', 'Wirat', '', 'Sangsawang', 'Thai', 'Female', '1992-11-02', 'Crew'),
('41', '1', 'AB999991', 'Panthip', '', 'Thepparat', 'Thai', 'Male', '1990-04-17', 'First Officer'),
('42', '1', 'AA832893', 'Pranee', '', 'Klinchan', 'Thai', 'Female', '1999-10-22', 'Crew'),
('43', '1', 'AA195666', 'Thitirat', '', 'Chaiyaporn', 'Thai', 'Male', '1983-06-14', 'Captian')

In [38]:
-- Salary
INSERT dbo.Salary(role,salary)
VALUES ('Captain', 400000),
('Crew', 150000),
('First Officer', 260000)

In [39]:
-- FlightEmployee
INSERT dbo.FlightEmployee(flightCrewID,flightPlanID,emp_ID)
VALUES ('1','1', '1'),
('2','1', '2'),
('3','1', '6'),
('4','1', '7'),
('5','1', '8'),
('6','3', '9'),
('7','3', '14'),
('8','3', '20'),
('9','3', '5'),
('10','3', '10'),
('11','7', '29'),
('12','7', '32'),
('13','7', '30'),
('14','7', '31'),
('15','7', '12'),
('16','14', '19'),
('17','14', '20'),
('18','14', '24'),
('19','14', '25'),
('20','16', '36'),
('21','16', '33'),
('22','16', '37'),
('23','16', '38')

In [ ]:
UPDATE Employee set MiddleName = null WHERE MiddleName = '';

In [ ]:
UPDATE Passenger set middleName = null WHERE middleName = '';